// MEDIA QUERIES
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

$screen-a: 767px;

$spacer-a: 15px;
$spacer-b: 7.5px;

$ui-width-ipad: 768px;


