@import './app/scss/variables.scss';
html {
    font-family: Roboto;
  }

  .h1 .h2 .h3 .p .a .input {
      font-family: Roboto;
  }

  .title {
    color: #346bd3;
}

.p .a {
  font-size: 12px;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

  .half-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
  
    @media(max-width: $screen-a) {
      flex-direction: column;
    }
  
    &--start {
      align-items: flex-start;
    }
  
    &--tb-margin {
      margin: $spacer-a 0;
    }
  
    &>.half-block {
      width:calc(1/2*100% - (1 - 1/2)*#{$spacer-a});
      position: relative;
      margin-left: 20px;
      margin-top: 20px;
  
      @media(max-width: $screen-a) {
        width: 100%;
        margin: 0 0 $spacer-b 0;
        ;
      }
    }
  
    &--ipad-break {
      @media(max-width: $ui-width-ipad) {
        flex-direction: column;
  
        & .half-block {
          width: 100%;
        }
      }
    }
  }

    .quarter-container {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: flex-end;
    
      &--flexstart {
        align-items: flex-start;
      }
    
      @media(max-width:$screen-a) {
        flex-direction: column;
      }
    
      &>.quarter-block {
        width:calc(1/4*100% - (1 - 1/4)*#{$spacer-a});
    
        @media(max-width: $screen-a) {
          width: 100%;
          padding: 0 0 1% 0;
        }
      }
    }
  
